* {
  box-sizing: border-box;
}

img {
  display: block;
  max-inline-size: 100%;
}

body {
  font-family: "space mono", "Courier New", monospace;
  margin: 0;
  color: #ffffff;
  background-color: #1B1B1B;
  font-size: 1rem;
  line-height: 1.6;
  margin-block-end: 3rem;
}

/* Text styles */

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.4;
  margin-block: 0;
  display: inline-block;
}

h2 {
  font-size: 1.5rem;
  margin-block: 0;
  display: inline-block;
  text-decoration: underline;
  margin-block-start: 1rem;
}

/* layout styling */

.wrapper {
  max-width: 680px;
  margin-inline: auto;
  margin-block-start: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block-end: 1.5rem;
  border-block-end: solid;
  border-color: #FFFFFF20;
  border-width: 0.25rem;
}

.heading-container {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.content p {
  margin: 0;
}

.content img {
  margin-block-start: 1.5rem;
  border-radius: 1rem;
}

p:has(img)+p {
  font-size: 0.875rem;
  color: #FFFFFF80;
  text-align: center;
}
