<div class="toggle toggle-active-left">
  <div class="toggle-icon-container toggle-active-container">
    <img src="/images/toggle_icons/moon.svg" alt="dark" />
  </div>
  <div class="toggle-icon-container">
    <img src="/images/toggle_icons/sun.svg" alt="light" />
  </div>
</div>
