---
import ColorSchemeToggle from "./ColorSchemeToggle.astro";

import "../styles/global.css";
---

<header>
  <div><a href="/">chessesio.</a></div>
  <div class="nav-area">
    <a href="/blog/">Blog</a>
    <!-- <ColorSchemeToggle /> -->
  </div>
</header>
